html {
  display: unset;
}

.main {
  margin-top: 3.5rem;
  
}


@media (max-width: 67em) {
  .main {
    margin-top: 0rem;
  }
  .page {
    margin-top: 3.5rem;
  }
  .sidebar-drawer {
    margin-top: 3.5rem;
  }
}

.theme-toggle-container {
  display: none;
}

h3 {
  margin-top: 1.75rem;
}


