.venv 
.nodeenv 
.devcontainer
node_modules
dist

**/target
**/.idea/**
**/.vscode/**
**/.DS_Store
**/venv
**/.coverage
**/htmlcov/**
**/.vscode/**
.env
.venv
**/*.ipynb

quantinuum_sphinx/_static/index.global.js
quantinuum_sphinx/_static/tailwind.css
quantinuum_sphinx/_static/tokens.css
demo/build
